header{
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; /* espaço entre os elementos */
    align-items: center; /* alinha os elementos verticalmente */
}

nav{
    text-align: right; /* alinha o texto a direita */
}

a{
    display: inline-flex; /* deixa o elemento inline e flexível */
    align-items: center; /* alinha os elementos verticalmente */    
    color: #FFF;
    font-size: 20px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
}

#button{
    background-color: #FFF;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s;
}

#button:hover {
    transform: scale(1.05);
}

a:hover {
    transform: scale(1.05);
}
img.hover{
    transition: 0.3s;
}

img.hover:hover{
    transform: scale(1.1);
}